<a href="https://colab.research.google.com/github/jaweria01/Advent_Of_Code-2024-/blob/main/Session_03/Session_3(strings%26Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code here
#
curr_pop = 10000
gr = 0.1

for i in range(10,0,-1):
  curr_pop = curr_pop/1.1
  print(i,curr_pop)

10 9090.90909090909
9 8264.462809917353
8 7513.148009015775
7 6830.134553650703
6 6209.213230591548
5 5644.739300537771
4 5131.5811823070635
3 4665.07380209733
2 4240.976183724845
1 3855.4328942953134

In [ ]:
gr = 0.1
cp = 10000
#pp =?
pp = []
# make list
# apply for loop
# increment of population
for i in range(1,11): # i means year
  r = cp/(1+0.1)**i
  pp.append(round(r))
print(pp)

[9091, 8264, 7513, 6830, 6209, 5645, 5132, 4665, 4241, 3855]

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# simple code
n= int(input("enter a number ! "))
result = 0
for i in range(1, n+1):
  result = result + i
  print("result of i: ", i)
  print("sum of loop",result)
print("total sum of loop",result)

enter a number ! 4
result of i:  1
sum of loop 1
result of i:  2
sum of loop 3
result of i:  3
sum of loop 6
result of i:  4
sum of loop 10
total sum of loop 10

`factorial of 4! : 4*3*2*1 = 24`

In [ ]:
# factorial of number
# fact * i 1*4 + 1*3 + 1*2 +1*1
fact = 1
n = int(input("enter a number :"))
for i in range(4,0, -1):
  fact = fact *i
  print("fact of single num : ",fact)
print("sum of fact:",fact)

enter a number :4
fact of single num :  4
fact of single num :  12
fact of single num :  24
fact of single num :  24
sum of fact: 24

`sum of seq  1/1! + 2/2! + 3/3! + ...`

In [ ]:
# Code here
# sum of sequence till n
n = int(input('enter n : '))
result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result =  i/fact

print(result)

enter n : 4
0.16666666666666666

# Nested Loops

```
`The end parameter in the print() function in Python is used to specify what
should be printed at the end of the output. By default,
the end parameter is set to '\n' (newline), meaning that each print()
statement will move to a new line after executing.

When you change the value of the end parameter, the print() function will append
 whatever you specify to the end of the output instead of moving to a new line.`
```

In [ ]:
# loops inside loop
# Examples -> unique pairs
# when inside loop will end the outside loop will start
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
# code here

rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):# inside loop depend upon the outside loop i value,
    print('*')
  print() # This moves the cursor to the next line after the inner loop finishes,
  # the outside loop will be start from the new line.

enter number of rows6
*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1): # inside loop depend upon the outside loop i value,
    print('*', end = ' ')
  print()

enter number of rows5
*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5):
    print('.', end='')
print(" Done!")

..... Done!

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j)

4
1
1
2
1
2
3
1
2
3
4

In [ ]:
#
# this slider is only become in for loop when result is append in list , but this is not true for *
n = int(input('enter a number :'))
result = []
for i in range(1,n+1):
  #print(i)
  result.append(i)
  print(result)

enter a number :5
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

enter number of rows4
1
121
12321
1234321

In [ ]:
for h in range(i-1,0,-1):
  print(i)

4
4
4

In [ ]:
a = int(input())
res_list = []
result = 0
for i in range(1,a+1):
  # result = i
  # print(i)
  res_list.append(i)
print(res_list)

8
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Define the initial value of h
h = 5  # You can set it to any positive integer

# Loop to decrement h and print its value
for h in range(h-1, 0, -1):  # Starts at h-1 and goes down to 1
    print(h)

4
3
2
1

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  print("outer loop value",i)
  for j in range(2,j):
    print("inside loop value",j)
    if i%j == 0:
      break
      print("divided at 2")
  else:
    print("Inside loop is break",i)

enter lower range2
enter upper range10
outer loop value 2
Inside loop is break 2
outer loop value 3
Inside loop is break 3
outer loop value 4
Inside loop is break 4
outer loop value 5
Inside loop is break 5
outer loop value 6
Inside loop is break 6
outer loop value 7
Inside loop is break 7
outer loop value 8
Inside loop is break 8
outer loop value 9
Inside loop is break 9
outer loop value 10
Inside loop is break 10

In [ ]:
3%2

1

1

In [ ]:
# Continue ----> when we ignore a specific condition
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
for i in range(1,10):
  pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [ ]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[41])

IndexError: ignored

In [ ]:
# Negative Indexing
s = 'helloworld'
print(s[-3])

r

In [ ]:
# Slicing
# start value should be greater than end
# [start,end, step]
a = 'jaweriaqorldbymayo'
print(a[6:0:-1])

airewa

In [ ]:
# Slicing
# stattr : start value is 1 if not provided
# end: end value is end of the string if not given
#step: The step value, which determines how to move through the sequence. Defaults to 1 if not provided.
# The step value is -1, which means move backwards through the string.
# Instead of moving forward (e.g., left to right), it moves in reverse order (right to left).
s = 'hello world'
print(s[6:1:-2])

wol

In [ ]:
print(s[::-1])

dlrowolleh

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

## Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: ignored

In [ ]:
s = 'hello world'
del s
print(s)

NameError: ignored

In [ ]:
s = 'hello world'
del s[-1:-5:2]
print(s)
# Strings are immutable, meaning their individual characters or parts cannot be modified, deleted, or replaced in place.
# The del statement works only for mutable objects like lists, but it doesn't work for strings. That's why attempting del on a
# string slice results in a TypeError.

TypeError: ignored

**The del statement is used to delete entire objects or elements from mutable data types (e.g., lists, dictionaries).
However, del cannot be used to delete specific elements from an immutable object like a string**

In [ ]:
s = 'hello world'

# Create a new string that excludes specific parts (e.g., skip every second character)
s_new = s[: -5]  # You can modify this to exclude specific parts
print(s_new)

hello

**Removing Character from string**

In [ ]:
## This effectively skips the character at index 6 and removes it from the string.

In [ ]:
s = 'hello world'

# Create a new string by excluding specific characters
s_new = s[:6] + s[7:]  # Removes the 7th character ('w')
print(s_new)

hello orld

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [ ]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [ ]:
print("*"*50)

**************************************************

In [ ]:
'delhi' != 'delhi'

False

`lexicographical order refers to the ordering of words or strings based on dictionary order (or alphabetical order)`
` It is widely used in sorting and searching algorithms and in comparing strings.`

`The Unicode value of 'm' is 109, and the Unicode value of 'p' is 112.

Since 109 < 112, Python determines that 'mumbai' is less than 'pune' when comparing lexicographically.`

In [ ]:
'mumbai' > 'pune'
# lexiographically

False

In [ ]:
'Pune' > 'pune'

False

`Strings are compared character by character from left to right.
If the first characters are equal, the comparison moves to the second character, and so on.
If a string runs out of characters before the other, the shorter string is considered smaller.`

In [ ]:
print('apple' > 'banana')  # False because 'a' < 'b'
print('cat' < 'car')       # False because 't' > 'r'
print('dog' > 'doghouse')  # False because 'dog' is shorter
print('123' < '321')       # True because '1' < '3'

`Strings are often sorted lexicographically in programming.
`

In [ ]:
strings = ["apple", "banana", "mango", "grape"]
print(sorted(strings))  # Output: ['apple', 'banana', 'grape', 'mango']

['apple', 'banana', 'grape', 'mango']

In [ ]:
'hello' and 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'' and 'world'

''

In [ ]:
'' or 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'hello' and 'world'

'world'

In [ ]:
not 'hello'

False

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [ ]:
'D' in 'delhi'

False

## Common Functions
- len
- max
- min
- sorted

In [ ]:
len('hello world')

11

In [ ]:
max('hello world')

'w'

In [ ]:
min('hello world')

' '

In [ ]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [ ]:
s.title()

'Hello World'

In [ ]:
s.upper()

'HELLO WORLD'

In [ ]:
'Hello Wolrd'.lower()

'hello wolrd'

In [ ]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

## Count/Find/Index

In [ ]:
# provide the total sum
'my name is nitish'.count('i')

3

### find

`For strings, index() is similar to find(), but find() returns -1 when the value is not found, whereas index() raises a ValueError`

In [ ]:
'my name is nitish'.find('x')

-1

### Index

`The index() function in Python is a built-in string and list method that is used to find the first occurrence of a specified value (substring or element) in a string or a list. If the specified value is found, it returns the index (position) of the value. If the value is not found, it raises a ValueError`

In [ ]:
'my name is nitish'.index('x')

ValueError: ignored

In [ ]:
#Check if an element exists and retrieve its position:
colors = ["red", "blue", "green", "yellow"]
if "blue" in colors:
    position = colors.index("blue")
    print(f"'blue' is found at index {position}")

'blue' is found at index 1

In [ ]:
# use for slicing
text = "Hello, World!"
pos = text.index(",")
print(text[:pos])  # Prints "Hello"

Hello

In [ ]:
# Using Slicing to Start Searching from a Specific Index
text = "Hello, World! Welcome to the World of Python!"

# Find the index of 'o' after index 10
index = text.find('o', 10)
print(f"The index of 'o' after index 10 is: {index}")

The index of 'o' after index 10 is: 18

**Before trying to find an index, you can check if the character or substring exists in the string using the in operator to avoid errors.**

In [ ]:
text = "Hello, World!"
char = "z"

if char in text:
    index = text.index(char)
    print(f"The index of '{char}' is: {index}")
else:
    print(f"'{char}' is not in the string.")

'z' is not in the string.

## endswith/startswith

In [ ]:
'my name is nitish'.endswith('sho')

False

In [ ]:
'my name is nitish'.startswith('1my')

False

## format

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

`The format() function replaces placeholders in a string (marked by curly braces {}) with the values provided as arguments to the function. It is highly customizable and helps create formatted output`

In [ ]:
#string.format(value1, value2, ...)
#
# string: The base string that contains placeholders {}.
#value1, value2: Values that will replace the placeholders in the string.

In [ ]:
name = "Alice"
age = 25

# Using format()
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)
# Output: My name is Alice and I am 25 years old.

My name is Alice and I am 25 years old.

**Features of format()**

1. Positional Formatting

You can pass values in order and reference them in the string using {}:

In [ ]:
# Positional formatting
"{} is {} years old.".format("Bob", 30)
# Output: Bob is 30 years old.

'Bob is 30 years old.'

2. Index-Based Formatting

You can use numbers inside {} to specify which argument to use:

In [ ]:
"{0} is {1} years old. {0} likes Python.".format("Bob", 30)
# Output: Bob is 30 years old. Bob likes Python.

**3. Keyword-Based Formatting
You can also use named placeholders and provide values as key-value pairs:**

In [ ]:
"Hello, {name}. You have {messages} new messages.".format(name="Alice", messages=5)
# Output: Hello, Alice. You have 5 new messages.

**4. Mixed Formatting**

You can mix positional and keyword arguments:

In [ ]:

"The {animal} jumped over the {object}.".format("cat", object="fence")
# Output: The cat jumped over the fence.

KeyError: 'animal'

**Named arguments (or keyword-based formatting): Match placeholders by name:**

In [ ]:
"I have {apples} apples and {oranges} oranges.".format(apples=5, oranges=10)
# Output: I have 5 apples and 10 oranges.

'I have 5 apples and 10 oranges.'

When the string has multiple placeholders, and it's easier to identify each placeholder by name for readability and clarity.

In [ ]:
"The {animal} jumped over the {object}.".format(animal="cat", object="fence")
# Output: The cat jumped over the fence.

'The cat jumped over the fence.'

**When you use the .format() method, Python automatically treats keyword arguments as a way to match placeholders by name.**

`This is why "named arguments" and "keyword-based formatting" are interchangeable terms in the context of .format().`

**Comparison with f-strings**

Since Python 3.6, f-strings are another way to format strings, which are simpler and often more concise than format().

In [ ]:
name = "Alice"
age = 25
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)
# Output: My name is Alice and I am 25 years old.

My name is Alice and I am 25 years old.

## isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()

False

In [ ]:
'nitish'.isalpha()

True

In [ ]:
'123abc'.isdigit()

False

In [ ]:
'first-name'.isidentifier()

False

## Split/Join

In [ ]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

In [ ]:
"*".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi*my*name*is*nitish'

## Replace

`The replace() method in Python is used to replace occurrences of a substring within a string with another substring. It does not modify the original string (since strings in Python are immutable) but instead returns a new string with the desired replacements.`

**Syntax:**
`string.replace(old, new, count)`

```
old: The substring that you want to replace.
new: The substring that will replace the old substring.
count (optional): The maximum number of occurrences of old to replace. If not specified, it replaces all occurrences.
```

In [ ]:
print('hi my name is jaweria'.replace('nitisrgewrhgh','naila'))

hi my name is jaweria

In [ ]:
# Replacing All Occurrences
text = "hello world, hello Python"
result = text.replace("hello", "hi")
print(result)

hi world, hi Python

In [ ]:
#  Replacing a Limited Number of Occurrences
text = "apple apple apple"
result = text.replace("apple", "orange", 2)
print(result)
# only the first two occurrences of "apple" are replaced with "orange"

orange orange apple

## Strip

In [ ]:
'nitish                           '.strip()

'nitish'

## Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the stringhu km
length of string is 5

In [ ]:
# Find the length of a given string without using the len() function
string = input("")
count = 0
for i in string:
  count += i # 0 + j not possible
print(count)

juy

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

**for count the loop iteration, we plus 1 not i values in counter**

In [ ]:
# Find the length of a given string without using the len() function
string = input("")
count = 0
for i in string:
  count += 1
print(count)

hy yiin
7

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(pos)
print(s[0:pos])

enter the emailjaweria343@gmail.com
10
jaweria343

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailhi how are you
what would like to search foro
frequency 2

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove : ')

result = ''

for i in s:
  if i != term: # if both char in term string and char in s are same , then dont add in result, if not same same then add in result
    result = result + i

print(result)

enter the stringjawii
what would like to remove : i
jaw

In [ ]:
# write a program of add count and add same chara in a list,
# count same char > by loop
s = 'how are  you and who are you ?'
add_char = input('what character you want to count')
L = []
count = 0
for i in s:
  if i == add_char:
    count += 1
    L.append(i)
print(L)
print('total char :',count)
# i am vary happy to create this program

what character you want to counte
['e', 'e']
total char : 2

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringpython
Not a Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the stringhi how are you
['hi', 'how', 'are', 'you']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringhi my namE iS NitiSh
Hi My Name Is Nitish

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number345
345
<class 'str'>

In [ ]:
# convert an integer to string
string = int(input(""))
print(type(string))
conv_string = str(string)
print(conv_string)
print(type(conv_string))

123
<class 'int'>
123
<class 'str'>

In [ ]:
def convertstr_fun(s):# string act as parameter
  result = str(s)
  return result
  print(type(result))

string = int(input("Enter a number : "))
convertstr_fun(string) # string pass as an argument

Enter a number : 2

'2'

`The error in Python Tutor or any other Python environment occurs because result is a local variable inside the function convertstr_fun. The scope of result is limited to the function, so it does not exist outside the function. When you try to print type(result) outside the function, Python does not know what result refers to, and it raises a NameError.`

In [ ]:
def convertstr_fun(s):# string act as parameter
  result = str(s)
  return result
print(type(result)) # Variables declared inside a function are local to that function and cannot be accessed outside it.but this interpreter show
# unexpected behavior , but the same code raise an error in python tutor

string = int(input("Enter a number : "))
convertstr_fun(string) # string pass as an argument

<class 'str'>
Enter a number : 12

'12'

In [ ]:
# perfact code
def convertstr_fun(s):  # string acts as a parameter
    result = str(s)  # Convert to string
    return result  # Return the string

string = int(input("Enter a number: "))  # Input an integer
converted_string = convertstr_fun(string)  # Call the function

# Now print the type of the returned value
print(type(converted_string))  # Prints <class 'str'>

Enter a number: 123
<class 'str'>

In [ ]:
# Function to convert integer to string
def int_to_string(number):
    # Convert integer to string using str() function
    return str(number)

# Test the function
integer_value = 12345
string_value = int_to_string(integer_value)

# Print the results
print(f"The integer value is: {integer_value} (Type: {type(integer_value)})")
print(f"The string value is: '{string_value}' (Type: {type(string_value)})")

The integer value is: 12345 (Type: <class 'int'>)
The string value is: '12345' (Type: <class 'str'>)

MCQ

In [ ]:
x= "Hello".sub(0,1)

AttributeError: 'str' object has no attribute 'sub'

In [ ]:
# extract specific character
x = "Hello"[0]
print(x)

H

In [ ]:
x = sub("Hello", 0,1)

NameError: name 'sub' is not defined

In [ ]:
# You are given a string and your task is to swap cases. In other words, convert all lowercase letters
# to uppercase letters and vice versa.
s = input(" enter a number : ")
s.swapcase()

 enter a number : ali

'ALI'

In [ ]:
def swap_case(s):
    return s.swapcase()  # Corrected: Store and return the swapped string

if __name__ == '__main__':
    s = input("Enter a string: ")  # Prompt the user for input
    result = swap_case(s)  # Store the result of the function
    print(result)  # Print the swapped case result

Enter a string: wer
WER

#### Read a given string, change the character at a given index and then print the modified string.

In [ ]:
# it replace all characters
s = "alian"
s.replace('a','n')

'nlinn'

In [ ]:
# I want to extraxt epecific index
s = 'jaweria'
s.index('a')

1

In [ ]:
#

def Replace_String(s):
  index = s.find("a",4)# find a after 4 index
  result = s.replace(str(index), "e")
  return result


s = input()
fun_result = Replace_String(s) # call function and add result in 'fun_result'
print(fun_result)

jaweria
jaweria

In [ ]:
Stops before index -5 (racter 'o' becauchase -5 refers to index 6 in positive indices).
The slice is also 'ello'.
i can not understand this concept because the index are these in negative sense, 11 -10  -9  -8  -7  -6, then how you said that "racter 'o' becauchase -5 refers to index 6 in positive indices"?